{{controls-component song=model switchToPreset='switchToPreset'}}

<div class="main">
  {{#each model.channels as |channel|}}
    {{channel-component channel=channel deleteChannel='deleteChannel'}}
  {{/each}}
</div>
